# Environments
.venv/
env/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Logs
app.log
logs/
Latest news/
dataset.csv
user_feedback.csv
user_submissions.csv
*.json
!retraining_log.json
!security_log.json
!api_output.json
!output.json

# Large Assets
*.png
*.jpg
*.jpeg
*.gif
*.pkl

# OS
.DS_Store
Thumbs.db
